/*PÁGINA DE INICIO*/

body{
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    box-sizing: border-box;
    color: white;
    width: auto;
    margin: 0 auto;
}


#welcomePortalContainer{
box-sizing: border-box;
display: flex;
justify-content: center;
margin: auto;
flex-direction: column;
   
}

.logoStyle{
width: auto;
height: 250px;
text-align: center;
}

.portalStyle{
display: block;
width: auto;
height:450px;
border-radius: 300px;
margin-top: 50px;
position:relative;
left: 35%;

}

.captionPortal{
    color: rgb(94, 255, 0);
    font-size: 1cm;
    text-align: center;
}

/*media queries welcome portal*/

@media screen and (max-width:480px) {
    #welcomePortalContainer{
    margin: auto;
    align-content: center;
    }
    }


@media screen and (max-width: 480px){
    .logoStyle {
        display: flex;
        margin: auto;  
        width:100%;
        height: auto;
    }
    }


    @media screen and (max-width:480px) {
       .portalStyle{
      left: -11%;
      transform: scale(0.8);
        }
        }
    

/*PÁGINA PRINCIPAL*/

.mainPage{
background-image: url('./assets/fondo-menu.jpg');
width: auto;
box-sizing:content-box;
flex-flow: column;
margin: 0px;
}

.logoStylePrincipal{
width: 800px;
height: 250px;
text-align: center;
}

/*media main page, logo, contenedores aside :C */
@media screen and (max-width: 700px){
.mainPage {
    display:flex;
        flex-direction:column;
        width: auto;
        overflow: hidden;
        justify-content: center;
    }
}


@media screen and (max-width: 480px){
    .logoStylePrincipal {
        display: flex;
        margin: auto;
        transform: scale(0.8);  
        width:80%;
        height: auto;
}
}

@media screen and (max-width: 480px){
    #aboutContainer {
        width: 95%;
        height: auto;
        flex-direction: column;
        margin:7px;
        margin-left: 1px;
}
}


@media screen and (max-width: 480px){
    #headRickMorty{
        width:50%;
        height:auto;
        align-items: center;
}
}

@media screen and (max-width: 480px){
    #asideRightCompute {
        width: 95%;
        height: auto;
        flex-direction: column;
        margin:7px;
        margin-right: 5px;
    }
}

/***BARRA DE MENU******/

.topNav{
height: 110px;
width:100;
background-color: rgba(11, 168, 50, 0.37);
border: 4px solid rgba(155, 236, 88, 0.89);
border-radius: 20px;
display: flex;
z-index: 100;
top: 0em;
left: 0%;
position: relative;
}

.filterList{
padding-bottom: 3%;
position: relative;
top: 0em;
width: 109vw;
display: flex;
height: 80px;
list-style: none;
font-size: 25px;
justify-content: space-around;
align-items: baseline;
}

.list{
text-align: center;
align-items: baseline;
display: flex;
justify-content: center;
padding: 9px;
background: inherit;
width: 8vw;
margin: 0%;
cursor: pointer;
}

.list:hover {
background:rgb(56, 155, 73);
border-radius: 5px; 
}


/*ASIDE IZQUIERDA*/
.aboutStyle{ /****para acomodar el aside del lado izquierdo y las tarjetas del lado derecho**/
float: left;
width: 200px;
position: relative;
display: flex;
flex-direction: column;
background-color: rgba(11, 168, 50, 0.37);
border: 2px solid rgba(155, 236, 88, 0.89);
border-radius: 20px;
margin: 10px;
padding: 5px;
text-align: center;
}

.aboutTitle{/***** título de la caja ****/
height: auto;
width: auto; 
text-align: center;
}

.aboutContent{ /*****contenido de la caja*****/
height: auto;
text-align: left;
flex-direction: column;
padding-left: 4px;
}


 /******ASIDE DERECHA******/

 .asideRightCompute{
float: right;
width: 200px;
flex-direction: column;
background-color: rgba(11, 168, 50, 0.37);
border: 2px solid rgba(155, 236, 88, 0.89);
border-radius: 20px;
margin: 10px;
padding: 5px;
text-align: center;
}
 
#dogCompute{
height: 110px;
}
 /***CONTENEDOR DE TARJETAS Y TARJETAS***/


#allCards{/*contenedor de tarjetas*/
padding-bottom: 5%;
margin-top: 20px;
margin-left: 20px;
display:grid;
grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
flex-direction: column;
align-content: stretch;
height: auto;
gap: 0.9cm;
justify-content: center;
}
 
.card{ /****estilos de las tarjetas**/

flex-wrap: wrap;
height:400px;
width:220px;
overflow: hidden;
border-radius: 15px;
border:4px solid rgb(0, 217, 255);
justify-content: center;
text-align:center;
margin-left: -8px;
background-color: rgba(2, 55, 85, 0.377);
}