/*PÁGINA DE INICIO*/

body{
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    box-sizing: border-box;
    color: white;
}

#welcomePortalContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;

}

.logoStyle{
    width: 800px;
    height: 250px;
    text-align: center;
}

.portalStyle{
    width: 500px;
    height:450px;
    border-radius: 300px;
    margin:auto;
  top: 50%;
  left: 50%;
  margin-top: 65px;
  margin-left: 550px;
    top: 50%;
    left: 50%;
    margin-top: 65px;
    margin-left: 550px;

}
.captionPortal{
    font-family: 'Share Tech Mono', monospace;
    color: rgb(94, 255, 0);
    font-size: 1cm;
    text-align: center;
}

/*PÁGINA PRINCIPAL*/

.mainPage{
background-image: url('./assets/fondo-menu.jpg');
box-sizing:border-box;
flex-flow: column;
margin: auto;
}

.logoStylePrincipal{
width: 800px;
height: 250px;
text-align: center;
}
/***BARRA DE MENU******/

.topNav{
height: 110px;
width:auto;
background-color: rgba(11, 168, 50, 0.37);
border: 4px solid rgba(155, 236, 88, 0.89);
border-radius: 20px;
margin-left: auto;
margin-right: auto;
display: flex;
z-index: 100;
top: 0em;
left: 0%;
position: relative;
}

.filterList{
padding-bottom: 3%;
position: relative;
top: 0em;
width: 109vw;
display: flex;
height: 80px;
list-style: none;
font-size: 25px;
justify-content: space-around;
align-items: baseline;
}

.list{
text-align: center;
align-items: baseline;
display: flex;
justify-content: center;
padding: 9px;
background: inherit;
width: 12vw;
margin: 0%;
cursor: pointer;
}

.list:hover {
background:rgb(56, 155, 73);
border-radius: 5px; 

}


/*ASIDE IZQUIERDA*/
aside{ /****para acomodar el aside del lado izquierdo y las tarjetas del lado derecho**/
float: left;
width: 27vw;
position: relative;
}


.aboutContainer{ /*******Estilos de la caja verde contenedora*****/
box-sizing: content-box;
border-radius: 20px;
background-color: rgba(11, 168, 50, 0.37);
border: 2px solid rgba(155, 236, 88, 0.89);
float: left;
position: relative;
height: auto;
margin:auto;
display: flex;
flex-wrap: wrap;
padding: auto;
width: 200px;
padding: 10px;
margin: 1em;
}

.aboutTitle{/***** título de la caja ****/
height: auto;
width: auto; 
margin: 3%;
padding: 5%;
padding: 8px;
}

.aboutContent{ /*****contenido de la caja*****/
height: auto;
text-align: left;
flex-direction: column;
padding: 5px;
}


 /******ASIDE DERECHA******/

 .asideRight{
    box-sizing: content-box;
    border-radius: 20px;
    background-color:rgba(11, 168, 50, 0.37);
    border:2px solid rgba(155, 236, 88, 0.89);
    float: right;
    height: 300px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    width: 200px;
    padding: 10px;
    margin: 1em;
 }
  
 /***CONTENEDOR DE TARJETAS Y TARJETAS***/

.allCards{/*contenedor de tarjetas*/
    box-sizing:border-box;
    padding-bottom: 10%;
    position: relative;
    top: 2em;
    margin:40px 300px 40px 50px;
    float: center;
    display:grid;
    grid-template-columns: repeat(3,7cm); 
    flex-direction: row;
    align-content: stretch;
    height: auto;
    gap: 0.5cm;
}
 
.card{ /****estilos de las tarjetas**/
    display:inline-flex;
    position: relative;
    flex-wrap: wrap;
    height:400px;
    width:220px;
    overflow: hidden;
    border-radius: 15px;
    border:4px solid rgb(0, 217, 255);
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-left: -8px;
    background-color: rgba(2, 55, 85, 0.377);
}