body{
    background-color: black;
}
/*PORTADA DE INICIO¨*/

#welcomePortal{
    background-color: black;
}
.logoStyle{
    width: 800px;
    height: 250px;
}
.portalStyle{
    width: 500px;
    height:450px;
    border-radius: 300px;
    margin:auto;
  top: 50%;
  left: 50%;
  margin-top: 65px;
  margin-left: 550px;
}
.captionPortal{
    font-family: 'Share Tech Mono', monospace;
    color: rgb(94, 255, 0);
    font-size: 1cm;
}

/*MENU*/
.menuBackGround{
background-image: url('./assets/fondo-menu.jpg');
background-size: cover;
height: auto;  width: auto; 
flex-wrap: wrap;
background-color: transparent;
margin: 0;
text-decoration: none;  
box-sizing: border-box;
font-family: 'Share Tech Mono', monospace;
}

.flex-container{
display:flex;
float: inline-end;
justify-content: space-between;
flex-wrap: wrap;
}
    
.flex-container div{
width: 220px;
height: 220px;
margin: 80%;
padding: 50%;
}
    
.flex-container img {
margin: 10px;
width:10%;
}
    
.scaled{
transform: scale(1,0.5);
}

aside{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: auto;
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(22, 141, 22);
    border: rgb(138, 238, 8) 2px solid;
    position: relative;
}
.about{
    height: auto;
    width: 200px; 
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: auto;
    color: white;
   
}
#aboutTitle{
    height: auto;
    width: auto; 
    margin: 3%;
    padding: 5%;
}

p{
    margin: 3%;
    padding: 5%;
    height: auto;
   justify-content: center;
    text-align: left;
    flex-direction: column;
    display: flex;
}



/*BOTONES DE PORTAL*/




/*A TO Z----Z TO A*/

.aTOzBackGround{
background-image: url('./assets/fondo-abc.png');
background-size:cover; 
}

/*a to z tarjetas*/
#aTOz{
    color: white;
    font-family:'Share Tech Mono', monospace;
}


#cardContainer{
    margin-top: 6em;
    margin-bottom: 30em;
    padding-bottom: 10%;
    position: relative;
    top: 2em;
    left:2em ;
    display: block;
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
    height: auto;
    gap: 0.1em;
    margin:1%;
    background-color: transparent;
    /* display: none; */
 
}

#tarjeta{
    display:inline-flex;
    position: relative;
    flex-wrap: wrap;
    height:300px;
    width:200px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    padding: 1% 2% 2% 1%;
    border-radius: 15px;
    border:4px solid rgb(0, 217, 255);
    transition: all .4s ease-in-out;
    justify-content: center;
    text-align:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.397);
}


/*SPECIES*/
.speciesBackGround{
background-image: url('./assets/fondo-especies.jpg');
background-size: cover;
}

/*WOMEN*/
.womenBackGround{
background-image: url('./assets/fondo-mujeres.jpg');
background-size: cover;
}

/*MEN*/
.menBackGround{
background-image: url('./assets/fondo-hombres.jpg');
 background-size: cover;
}

/*EPISODES*/
.episodesBackGround{
    background-image: url('./assets/fondo-episodios.jpg');
     background-size: cover;
}